<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pl.hetman.wiktoria.solvd.persistence.BrandRepository">

    <sql id="selectToyShop">
        SELECT * FROM
    </sql>

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO toy_shop_fixed.brands (name) VALUES(#{name})
    </insert>
    <select id="findById" resultMap="BrandResultMap">
        <include refid="selectToyShop"/>
        toy_shop_fixed.brands WHERE id = #{id}
    </select>
    <update id="updateById">
        UPDATE toy_shop_fixed.brands SET name = #{brand.name} WHERE id = #{id}
    </update>
    <delete id="deleteById">
        DELETE FROM toy_shop_fixed.brands WHERE id = #{id}
    </delete>
    <resultMap id="BrandResultMap" type="pl.hetman.wiktoria.solvd.model.Brand" autoMapping="false">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>
</mapper>