<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pl.hetman.wiktoria.solvd.persistence.EmailRepository">

    <sql id="selectToyShop">
        SELECT * FROM
    </sql>

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO toy_shop_fixed.emails (name) VALUES(#{email})
    </insert>
    <select id="findById" resultMap="EmailResultMap">
        <include refid="selectToyShop"/>
        toy_shop_fixed.emails WHERE id = #{id}
    </select>
    <update id="updateById">
        UPDATE toy_shop_fixed.emails SET name = #{email.email} WHERE id = #{id}
    </update>
    <delete id="deleteById">
        DELETE FROM toy_shop_fixed.emails WHERE id = #{id}
    </delete>
    <resultMap id="EmailResultMap" type="pl.hetman.wiktoria.solvd.model.Email" autoMapping="false">
        <id column="email_id" property="id"/>
        <result column="name" property="email"/>
    </resultMap>
</mapper>