<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pl.hetman.wiktoria.solvd.persistence.OrderDateRepository">

    <select id="findById" resultMap="OrderDateResultMap">
        SELECT *
        FROM toy_shop_fixed.orders_dates
        WHERE order_id = #{id}
    </select>
    <resultMap id="OrderDateResultMap" type="pl.hetman.wiktoria.solvd.model.OrderDate" autoMapping="false">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="dat" property="date"/>
    </resultMap>
</mapper>
